body{
    width: 800px;
    margin: auto;
}

header{
    height: 25px;
    padding-top: 5px;
    background-color: grey;
}

header h3{
    float: right;
}

h3{
    height: 20px;
    margin: 0;
    color: ghostwhite;
}

.mainDiv{
    width: 796px;
    margin: auto;
    border: 2px solid;
    border-radius: 2px 2px 2px 2px;
    background-color: ghostwhite;
}

.ThreadsDiv{
    padding-top: 10px;
    background-color: ghostwhite;
    height: 50px;
}

.ThreadsDiv:nth-child(even) {
    background-color: lightgray;
}

.PostDiv{
    padding-top: 10px;
    white-space: pre-wrap;
    max-width: 800px;
    background-color: ghostwhite;
}

.PostDiv:nth-child(even){
    background-color: lightgray;
}

.UserDiv{
    float: right;
    margin-right: 5px;
    font-style: italic;
}

.CreatedDiv{
    text-align: right;
    margin-right: 5px;
    font-style: italic;
}

.buttons{
    float: left;
    margin-top: 7px;
}

.button{
    text-decoration: none;
    color: ghostwhite;
    background-color: #333231;
    padding: 5px;
    border-radius: 2px 2px 2px 2px;
}

.editButton{
    text-decoration: none;
    color: ghostwhite;
    background-color: #333231;
    padding: 3px;
    border-radius: 2px 2px 2px 2px;
}

.space{
    margin-bottom: 5px;
    text-align: right;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: #575654;
}

.button:hover{
    background-color: #575654;
}

.editButton:hover{
    background-color: #575654;
}

.headerDiv{
    float: left;
    margin-right: 5px;
}

.Area{
    display: block;
    width: 750px;
    margin: auto;
    height: 400px;
    resize: none;
}

.submit{
    margin-left: 20px;
    margin-bottom: 5px;
    color: ghostwhite;
    background-color: #333231;
}

.submit:hover{
    background-color: #575654;
}

.submitPost{
    color: ghostwhite;
    background-color: #333231;
}

.submitPost:hover{
    background-color: #575654;
}

.registerButton{
    margin-left: 2px;
    margin-top: 5px;
}

.ThreadName{
    width: 400px;
}

.pThreadName{
    margin-left: 20px;
    margin-bottom: 5px;
}

.threadLink{
    float: left;
}

.error{
    color: red;
}

.success{
    color: green;
}